@charset "utf-8";
*{
    margin: 0;
    padding:0
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header_top{
        background: #333;
        height: 32px;
        line-height: 32px;
        color: #CCC;
        .container{
                width: 1170px;
            padding-right: 15px;
            padding-left: 15px;
                margin:0 auto;
   
            ul{
                
               li{
                   float: left;
                   .header_top_line{
                        border-right: 1px solid #000;
                   }
                  a{
                      font-size: 14px;
                      color: #CCC;
                      padding:0 10px;
                      
                  }
               }
            }
            .pull-right{
                ul{
                    float: right;
                    li{
                         float: left;
                         position: relative;
                         .header_top_line{
                        border-right: 1px solid #000;
                   }
                         a{
                           font-size: 14px;
                            color: #CCC;
                            padding:0 10px;  
                         }
                    }
                }
            }
        }
}
